@mixin hide {
  visibility: hidden;
  display: none;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  background-color: #EEEEEE;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noshow {
  @include hide;
}

#c {
  position: relative;
  border: 1px solid #BBBBBB;
  box-shadow: 2px 2px 2px #d7d7d7;
}

#canvas-container {
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 100px;
  background:url("../images/grid.png") repeat;
}

.container {
  position: relative;
  padding: 0 0 0 $sidebar-width;
}

#content {
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

#preview {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.55);
  z-index: 20;
  width: 100%;
  height: 100%;
  text-align: center;
}

#preview-image {
  width: 50%;
  padding-top: 20px;
}

#dynamic-preview {
  position: fixed;
  z-index: 25;
  top: 0px;
  left: 0px;
}

#loading-spinner {
  position:absolute;
  bottom: 32px;
  left: 170px;
  z-index: 95;
}

.floating-button {
  width: 140px;
  z-index: 5;
  bottom: 30px;

  > img {
    position: relative;
    top: -3px;
    left: -3px;
  }
}

#preview-button {
  position: absolute;
  color: white;
  background-color: $preview-button-color;
  right: 260px;
  &:hover {
    background-color: lighten($preview-button-color, 10%);
  }
}

#download-button {
  position: absolute;
  color: white;
  background-color: $download-button-color;
  right: 67px;
  &:hover {
    background-color: lighten($download-button-color, 10%);
  }
}

.mdl-layout__drawer-button {
  @include hide;
}

.mdl-layout__container {
  left: 0px;
}
